
/*
 * Base structure
 */


html {
	height: 100%;
}
 
 #fullpage-container {
	min-height: 100vh;
	background: #333;
}

/*
 *	Patricks first CSS
 */
 
 #whaterver-you-want-to-call-that-id
{
	font-size: 100px;
	color: yellow;
}

.cover-container {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	background-color: #333;
	color: #fff;
	text-align: center;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Padding for spacing */
.inner {
	padding: 2rem;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 62em) {
	.cover-container {
		width: 62rem;
	}
}
