/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
	color: #fff!important;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: .05rem solid #fff;
}


/*
 * Base structure
 */

/*
 *	Patricks first CSS
 */

#whaterver-you-want-to-call-that-id {
	font-size: 75px;
	color: yellow;
	background-color: gray;
}

.app-container {
	height: 100vh;
	background-color: #333;
	color: #fff;
	text-align: center;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
	        box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 2rem;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 62em) {
	.cover-container {
		width: 62rem;
	}
}

#search-bar {
	display: flex;
}

.Select {
	color: black;
	text-shadow: none;
	float: left;
}

.Select--multi {
	flex: 30;
}

.Select--single {
	flex: 10;
}

#search-button {
	margin-left: 15px;
}
