/*
 * Globals
 */

html {
	height: 100%;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: .05rem solid #fff;
}

#whaterver-you-want-to-call-that-id {
	font-size: 75px;
	color: yellow;
	background-color: gray;
}

#fullpage-container {
	min-height: 100vh;
	background: #333;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
	background-color: #333;
	color: #fff;
	text-align: center;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Padding for spacing */
.inner {
	padding: 2rem;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 62em) {
	.cover-container {
		width: 62rem;
	}
}

#search-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.Select {
	color: black;
	text-shadow: none;
	float: left;
}

.Select--multi {
	flex: 30;
	margin-right: 5%;
	min-width: 200px;
}

.Select--single {
	flex: 10;
	margin-right: 5%;
	min-width: 150px;
}
