.jumbotron.trans {
	background: rgba(0, 0, 0, .4);
	border-radius: 1rem;
	margin-bottom: 0;
}

.jumbotron.connections {
	background: rgba(91,213,214,.4);
	border-radius: 1rem;
	padding: 1rem;
}

.jumbotron.cards {
	background: rgba(252, 47, 37, .3);
	border-radius: 1rem;
}
