.jumbotron.trans {
	background: rgba(0, 0, 0, .7);
	border-radius: 1rem;
	margin-bottom: 0;
}

.jumbotron.connections {
	background: rgba(0, 255, 255, .7);
	border-radius: 1rem;
}

.jumbotron.cards {
	background: rgba(252, 47, 37, .7);
	border-radius: 1rem;
}
