.trans {
   background: rgb(0, 0, 0) !important; /* This is for ie8 and below */
   background: rgba(0, 0, 0, .7) !important;
       border-radius: 1rem !important;
}

.connections {
   background: rgb(0, 255, 255) !important; /* This is for ie8 and below */
   background: rgba(0, 255, 255, .7) !important;
       border-radius: 1rem !important;
}

.cards {
   background: rgb(252, 47, 37) !important; /* This is for ie8 and below */
   background: rgba(252, 47, 37, .7) !important;
       border-radius: 1rem !important;
}