/* Links */
a,
a:focus,
a:hover {
	color: #fff!important;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: .05rem solid #fff;
}


/*
 * Base structure
 */

/*
 *	Patricks first CSS
 */

 #whaterver-you-want-to-call-that-id
 {
 	font-size: 100px;
 	color: yellow;
 }

.app-container {
	height: 100vh;
	background-color: #333;
	background-image: url("../images/mail.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	text-align: center;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
	        box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 1.5rem;
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 62em) {
	.masthead,
	.cover-container {
		width: 62rem;
	}
}

#messenger-container {
	padding: 20px;
	margin-top: 30px;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(180, 180, 180, .9);
	height: calc(100vh - 64px - 104px);
	text-align: left;
}

#contacts-container {
	height: 100%;
	width: 300px;
	background: rgba(9, 9, 9, .25);
	color: black;
	text-shadow: none;
	float: left;
}

.contact {
	height: 70px;
	margin: 10px;
	padding: 10px;
	background: goldenrod;
	font-size: 14px;
}

.contact.selected {
	background: gold;
}

.contact img {
	height: 100%;
	width: auto;
	float: left;
	border: 5px solid gray;
	margin-right: 15px;
}

#chat-container {
	height: 100%;
	margin-left: 325px;
	width: auto;
	color: black;
	text-shadow: none;
}

#chat-container > p {
	position: absolute;
	top: 40%;
	left: 51%;
	font-size: 30px;
}

#chat {
	height: 100%;
}

#chat-input {
	position: relative;
}

#chat-input textarea {
	width: calc(100% - 85px);
	float: left;
}

#send-button {
	width: 75px;
	margin-left: 5px;
}

#message-list {
	height: calc(100% - 60px);
	position: relative;
}

#message-list ul {
	padding-left: 0;
	position: absolute;
	bottom: 0px;
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
}

#message-list .message {
	width: 100%;
	padding: 10px;
	color: black;
	list-style: none;
}

#message-list .message p {
	border: 1px solid black;
	border-radius: 5px;
	width: fit-content;
	margin: 10px;
	padding: 5px;
}

#message-list .message.sent {
	background: lightgray;
}

#message-list .message.received  {
	background: white;
}
