.profileCard {
	background: #405c8c;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
}

.profileCard .profile-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
}

.profileCard .profile-picture {
	min-width: 150px;
	flex: 30;
}

.profileCard .profile-picture .react-gravatar{
	border: 3px solid black;
	border-radius: 5px;
	margin: 3px;
}

.profileCard .profile-content {
	min-width: 350px;
	padding: 10px;
	flex: 70;
	white-space: pre-line;
}

.profileCard .profile-actions {
	flex: 10;
}

.profileCard .profile-actions button {
	margin: 3px;
}

.tags-container {
	padding: 5px 0;
}

.tags-container .tag {
	color: black;
	background: lightblue;
	list-style: none;
	display: inline;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 25px;
	text-shadow: none;
}

.profileCard .material-icons {
	font-size: 18px;
}

.profileCard .profile-content .material-icons {
	font-size: 28px;
}

.profileCard .delete-rating {
	margin-top: 3px;
}

.profileCard.warning {
	justify-content: center;
	flex-direction: column;
}
