/*
 * Globals
 */

html {
	height: 100%;
}

#fullpage-container {
	min-height: 100vh;
	background-image: url("../images/miami.jpg");
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	text-align: center;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
	padding-bottom: 30px;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 62em) {
	.masthead,
	.cover-container {
		width: 62rem;
	}
}


/* Stuff for the profile page */
#profile-container {
	padding: 2rem;
	padding-bottom: 10px;
	margin-top: 30px;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(90, 90, 90, .9);
	text-align: left;
}

#profile-container h1 {
	text-align: center;
}

/* todo figure out how to put the checkboxes next to each other*/
#profile-container #status-container label{
	padding-right: 10px;
	padding-left: 22px;
}


#profile-container label {
	max-width: 100%;
}

#profileCard-container {
	padding: 20px;
	margin-top: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(180, 180, 180, .9);
	height: 300px;
	margin-bottom: 30px;
	text-align: left;
}

.Select {
	max-width: 300px;
	color: black;
	text-shadow: none;
}

#submit-button {
	margin-left: 100px;
}
