/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
	color: #fff!important;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: .05rem solid #fff;
}

.app-container {
	min-height: 100vh;
	background-color: #333;
	background-image: url("../images/miami.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	text-align: center;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
	        box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 2rem;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 62em) {
	.masthead,
	.cover-container {
		width: 62rem;
	}
}


/* Stuff for the profile page */
#profile-container {
	padding: 20px;
	margin-top: 30px;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(180, 180, 180, .9);
	min-height: 100vh;
	margin-bottom: 30px;
	text-align: left;
}

#profile-container h1 {
	text-align: center;
}

/* todo figure out how to put the checkboxes next to each other*/
#profile-container #status-container label{
	padding-right: 10px;
	padding-left: 22px;
}


#profile-container label {
	max-width: 100%;
}

#profileCard-container {
	padding: 20px;
	margin-top: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(180, 180, 180, .9);
	height: 300px;
	margin-bottom: 30px;
	text-align: left;
}
